<form role="form">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Usuario</h2>
            <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
            
            <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Logar</button>
              <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>

        <div class="col-md-4">
            <h2>Usuario</h2>
            <p class="text-primary">Usuarios: Aluno, Coordenador, Secretaria .</p>
            <p>Senha: 12345678</p>
        </div>
       

        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>